html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img{
  max-width: 100%;
  height: auto;
}

iframe{
  max-width: 100%;
}

table{margin:20px 0;}

th{
  padding: 5px 75px 20px 0;
  text-align: left;
  color: #696969;
  font-size: 18px;
}

td{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  padding-right: 20px;
}

/*End reset*/

body{ 
  font-family: 'Roboto',Arial,sans-serif;
  background:#2a2a2a;
  /*overflow: hidden;*/
}

.container{line-height: 1.4;}

a{font-family: 'Lato', sans-serif;}

/*======= *HEADER STYLES =======*/

img#logo {
    padding-top: 160px;
}

header{
  height: 700px;
  overflow: hidden;
  background: url(../images/sea-nature-sunny-beach.jpg)no-repeat;
  background-size: cover;
  background-color: #1176bc;
  color: #fff;
  text-align: center;
}

header h1{
  font-size: 39px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 0 0.5625em;
  margin-top: 1.5em;
  margin: 30px 0 0;
  font-family: 'Lato', sans-serif;
}

header form{
  width: 350px;
  margin:25px auto 0;
  padding:10px 5px;
  background: rgba(0,0,0,.5);
  border-radius: 3px;
}

header input[type="search"]{
  border: none;
  border-radius: 3px;
  padding:10px;
  width: 250px;
  color:#000;
}

header input[type="submit"]{
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgba(17, 118, 188,.7);
  color:#fff;
}

header a{text-decoration: none; color:rgba(0,0,0,.5);}

#shopping-cart{color:rgba(250,250,250,.9);}

#shopping-cart img {
    position: relative;
    top: 0px;
    padding: 10px;
    background: rgba(255,255,255,.4);
    border-radius: 5px;
}

.header-container{
  width: 100%;
  max-width: 74.063em !important;
  margin: 0 auto;
}

.headings{
  padding: 60px 0;
  width: 60%;
  max-width: 970px;
  margin: 5em auto;
  text-align: center;
  color:#fff;
}
.headings h1{
  font-size: 4.4375em;
  line-height: 1;
  padding: 0 0 0.5625em /* 9px */;
  margin-top: .75em;
}
.headings h2{font-size: 1.7em;}

/*======= *HEADER STYLES END$$$ =======*/

.wrapper{position: relative;}

nav ul,
nav li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav {
  overflow: hidden;
  background: #121212;
  padding: 15px;
  background: rgba(0,0,0,.5);
  padding: 15px 0;
  position: absolute;
  top: -102px;
  left: 0;
  width: 100%;
}

nav::before {
  content: "GYSO";
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 35%;
  left: 3%;
}

nav ul {
  float: right;
  padding: 0 20px;
}

nav ul li {
    float: left;
    text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  float: left;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul li a:hover,
footer ol li a:hover,
.current_menu_item{
  text-shadow:1px 1px 20px #fff ;
}

#site-nav {
    float: right;
    padding: 0 20px;
}

#site-nav ul li{
    float: left;
}

#site-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    float: left;
}

#site-nav ul li ul {
    display: none;
}

/*======= Nav Icons =======*/
nav ul li a::before {
    float: left;
    clear: both;
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
}

nav li:nth-child(1) a::before {
  content: "\f05a";/*about*/
  font-family: FontAwesome;
}
/**/
nav li:nth-child(2) a::before{
  content: "\f1ea";/*news*/
  font-family: FontAwesome;
}

nav li:nth-child(3) a::before {
  content: "\f073";/*events*/
  font-family: FontAwesome;
}

nav li:nth-child(4) a::before {
  content: "\f1b3";/*package*/
  font-family: FontAwesome;
}


nav li:nth-child(5) a::before {
  content: "\f207";/*tours*/
  font-family: FontAwesome;
}


nav li:nth-child(6) a::before {
  content: "\f095";/*contact*/
  font-family: FontAwesome;
}

/*======= Nav Icons =======*/

#navbar {
  width: 25%;
  min-height: 500px;
  height: 604px;
  float: right;
  clear: both;
  background-color: #2a2a2a;
}

#navbar h4 {
  color: #fff;
  padding: 60px 0 15px 40px;
  text-transform: uppercase;
}

#navbar ul {
    padding: 0 20px;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

#navbar ul li a::before {
    content: "\f1db";
    font-family: FontAwesome;
    color: #B76EB8;
    padding-right: 15px;
    font-size: 11px;
}

#navbar ul li a:hover::before{
  content: "\f111";
  font-family: FontAwesome;
  color: aqua;
}

#navbar ul li a:focus{
  border:1px solid cornflowerblue;
  border-radius: 3px;

}

/*======= *ASIDE STYLES =======*/

aside {
  position: fixed;
  bottom: 0;
  left: 15px;
  background: #fff;
  padding: 0 0 3em;
  height: 250px;
  display: none;
}

aside h2 {
  padding: 40px;
  background: #efefef;
  text-transform: uppercase;
}
aside *{
  padding:10px 20px;
}

/*======= *ASIDE STYLES END $$$ =======*/

/*======= *MAIN STYLES =======*/

/*------- *About Page Styles -------*/

article,
article#article_contact{
  color:#fff;
  padding: 100px 0;
}

article:nth-child(odd){
  background: #939393;
}

article:nth-child(even){
  background: #696969;
}

article#article_contact + article > div{text-align: center;}

article > div{
  max-width: 50%; 
  margin: 0 auto;
  /*text-align: center;*/
}

article > div p {
    line-height: 1.5;
}

article#company-profile,
main article:nth-child(1),
article.our-mission,
article.our-vision,
article.find-us{padding: 0;}

article#company-profile > div,
article.our-vision > div{text-align: left;}

article.find-us{
  clear:both;
  overflow: hidden;
  background: #2a2a2a;
}

article.find-us h2 {
  padding: 21px;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

article.find-us h2::before {
  content: "\f279";
  font-family: FontAwesome;
  color: #fff;
  float: left;
  clear: both;
  width: 100%;
  font-size: 50px;
}

article#company-profile h2::after,
article.our-mission h2::after,
article.our-vision h2::after,
article.find-us h2::after {
  max-width: 300px;
  margin: .3em 0;
  height: 1px;
  display: block;
  content: "";
  background-color: #fff;
}

main article:nth-child(4) h2::after{margin: .3em auto;}

main article:nth-child(1){
  float: right;
  width: 75%;
}

main article:nth-child(1) a{
  color: aqua;
  text-decoration: none;
}

article.find-us iframe {
  width: 100%;
  clear: both;
  height: 474px;
}

main article:nth-child(1){
  min-height: 474px;
  padding-top: 130px;
  background-size:cover;
  background-repeat: no-repeat;
  color:#fff;
  overflow: hidden;
}

main article:nth-child(2){clear: both;}


article#company-profile{
  padding-top: 130px;
  background-image: url(../images/light-love-clouds-river.png);
}
.section-container {
  float: left;
  padding-left: 190px;
}

.section-container h2,
.our-mission h2,
.our-vision h2{
  font-size: 40px;
  /*padding-bottom: 20px;*/
}

.our-mission h2{padding-top: 0;}

.section-container p,
.our-mission p,
.our-vision p{
  max-width: 385px;
  font-size: 16px;
  line-height: 1.6;
}

.our-mission,
.our-vision{
  float: left;
  padding:40px 0;
  height: 500px;
}

article > div{padding: 0 20px;}

article > div h2 {
    font-size: 25px;
    padding: 20px 0 0;
    font-weight: bold;
}

article.our-mission > div{text-align: center; padding: 20px 0;}

article.our-mission > div{
  max-width: 100%;
}

article.our-vision > div{
    float: right;
    padding-top: 90px;
    padding-right: 190px;
}

article.our-mission h2::after{margin:.3em auto;}

.our-mission p{margin:0 auto;}

article.our-mission{
  width: 35%;
  color:#fff;
  background-color: #333;
}

article.our-vision{
  width: 65%;
  background-image: url(../images/fisherman-239487_1920.png);
  background-color: #1176bc;
  color: #fff;
}

/*------- *About Page Styles End $$$ -------*/

/*------- *News Page Styles -------*/

article#salmon-rides,
article#mailing-list{text-align: center;}

p time {
  padding: 10px 0 20px;
  display: block;
}

article#fish-rankings{
  height: auto;
  padding: 84px 0;
}

article#fish-rankings > div ul{
  margin:20px 0 40px;
}

article#fish-rankings > div li{
  line-height: 1.4;
  list-style-type: disc;
}

article#fish-rankings > div a{
  float: right;
  padding: 20px;
  background: black;
  color: #fff;
  border-radius: 3px;
}

/*------- *News Page Styles End $$$ -------*/

/*------- *Events Page Styles -------*/

hr{border:none;}

article#events-article{
  height: auto;
  padding:40px 0;
  color: #444;
  background-color: #fff;
}

article#events-article select{color: #333;}

article#events-article > div{max-width:100%;}

article#events-article > div h2 + h3{padding-bottom: 30px;}

a#calendar img,
iframe[src="https://www.psf.ca/what-we-do"]{
  width: 100%;
}
iframe[src="https://www.psf.ca/what-we-do"]{min-height: 500px;}

article#events-article a#calendar + a{
  float: left;
  padding: 20px;
  margin: 10px 0 30px;
  background: black;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

article#events-article ul{padding: 0;}

article#events-article li{
  line-height: 1.4;
  float: left;
  padding: 20px 10px 0;
}

article#events-article li::after{
  content: "|";
  position: relative;
  left: 12px;
}

article#events-article li:last-of-type::after{
  content: " ";
}

article#events-article a{color: #444; text-decoration: underline; font-size: 13px;}

#pink-salmon > div{text-align: center;}
/*------- *Events Page Styles End $$$ -------*/

/*------- *Packages Page Styles -------*/

article#egg-hatch > div{text-align: center;}

article#egg-hatch > div video{width: 100%;}

article#egg-hatch > div hr + p{
  margin-top: 20px;
  margin-bottom: 10px;
}

iframe[src="https://www.youtube.com/embed/eUvaHpWCNbQ"]{
  width: 100%;
}

form.form input,
form.form textarea,
form.form select{color: #000;}

form.form input{
  line-height: normal;
  border-radius: 5px;
  border: none;
  padding: 7px;
}

legend h3{padding: 20px 0;}

article:nth-child(1) form.form label {
    display: table-cell;
}

/*------- *Packages Page Styles End $$$ -------*/

/*======= *MAIN STYLES END $$$ =======*/

/*======= *FOOTER STYLES =======*/

footer {
  text-align: center;
  color: #fff;
}

footer ol{padding: 40px;}

footer ol#social_media{padding:0; padding-top: 40px;}

footer ol li{
  display: inline;
}

footer ol li a{
  color:#fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
}

footer span.company-name{
  display: block;
  background-color: #121212;
  color:#fff;
  padding: 20px;
  font-size: 13px;
}

/*======= *FOOTER STYLES END $$$ =======*/


/*======= Media Queries =======*/

@media only screen and (max-width: 960px){

  nav{padding: 40px 0; top: -80px;}

  nav ul{
    display: none;
  }

  div#navbar {
    float: none;
    width: 100%;
    height: auto;
    padding: 40px 0;
  }

  main{overflow: hidden;}
  
  .section-container h2, .our-mission h2, .our-vision h2{font-size: 32px;}
  .section-container p, .our-mission p, .our-vision p{font-size: 14px; }

  
  /* section */
  #company-profile,
  main article:nth-child(1),
  .section-container {
    padding: 40px 20px;
  }

  #company-profile,
  main article:nth-child(1), 
  .our-mission, 
  .our-vision, 
  .our-vision > div {
    width: auto;
    height: auto;
    float: none;
  }

  #company-profile,
  main article:nth-child(1),
  .our-vision{
    min-height: 385px;
  }

  article.our-mission, 
  article.our-vision{
    float: none;
    width: 100%;
  } 

  #company-profile > div,
  main article:nth-child(1) > div,
  .our-vision > div{
    max-width: 385px;
    margin:0 auto;
    float: none;
    padding: 100px 0;
    overflow: hidden;
  }

  article.our-mission > div, 
  article.our-vision > div{
    padding: 100px 20px;
    float: none;
  }

  .section-container {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width:700px){
  article > div {
    padding: 0 20px;
    float: none;
    max-width: 100%;
    text-align: left;
  }

  article > div p{text-align: left;}

  div video{max-width: 100%; height: auto;}

  th, td{
    display: block;
  }

  iframe[src="https://www.youtube.com/embed/eUvaHpWCNbQ"]{height: auto;}
}

@media only screen and (max-width:500px){

  main article:nth-child(1){
    padding: 100px 0;
  }

  article#company-profile > div{padding: 0 20px;}

  main article:nth-child(1) > div{padding: 0 20px;}

  form.form label{
    display: table-cell;
    padding: 10px 0;
  }

  form.form *,
  form.form input[type="text"]{
    width: 100%;
  }

  form.form input[type="radio"]{width: auto;}
}

@media only screen and (max-width:350px){
  /* header */
  header{
    max-height: 570px;
  }

  img#logo {
    padding-top: 85px;
  }

  header h1{
    padding: 0 0 15px;
  }

  header input[type="search"]{
    width: 57%;
    max-width: 250px;
  }

  header form {
    width: auto;
    margin: 25px 10px;
    padding: 10px 0px;
    max-width: 350px;
}

  #navbar ul li a{font-size:13px;}

  /*section*/

  main article:nth-child(2),
  article.our-vision {
      clear: both;
      float: none;
      width: 100%;
  }

  #company-profile, 
  main article:nth-child(1),
  .our-vision{
      height: auto;
      overflow: hidden;
  }

  article.our-mission > div, 
  article.our-vision > div {
      max-width: 100%;
      padding: 100px 20px;
  }

  article.find-us h2{
    font-size: 28px;
  }

  article#salmon-rides, 
  article#mailing-list {
    text-align: left;
}

  /* footer */
  footer ol li a{padding: 0 5px;}

  footer span.company-name{font-size: 13px;}
}

}

